@tailwind base;
@tailwind components;
@tailwind utilities;

/* AUTH STYLES */
.btn-primary {
    @apply text-white outline-none btn btn-block bg-primary;
}

.btn-primary:disabled {
    @apply cursor-not-allowed pointer-events-auto;
}

.auth-input {
    @apply w-full rounded-sm input input-bordered input-primary focus:outline-none focus:border-2;
}

.auth-heading {
    @apply text-2xl text-center text-purple-800 text-light-black sm:text-3xl;
}

.error-message {
    @apply absolute left-0 z-10 text-xs text-red -bottom-4;
}

.wrapper {
    @apply mx-auto sm:max-w-[1440px] sm:w-[90%] w-[90%];
}
.wrapper-secondary {
    @apply mx-auto sm:max-w-[1440px] sm:w-[70%] w-[90%];
}

.btn-main {
    @apply font-normal text-white border-none w-max bg-violet-900 hover:bg-purple-800;
}

.accordian-active {
    @apply max-h-[180px];
}

.accordian {
    @apply max-h-[70px];
}

.section-style {
    @apply pt-12 pb-3 bg-violet-100 lg:py-20 md:py-16;
}

.main-heading {
    @apply mb-4 text-2xl font-bold lg:text-5xl md:text-4xl;
}

@layer base {
    body {
        font-family: "Lato", sans-serif;
    }
}

/* GENERAL */
html,
body,
.app,
#root {
    height: 100%;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 4px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(155, 122, 205);
}

* {
    font-weight: 400;
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

a,
button {
    cursor: pointer;
}

/* BEST DEAL SECTION => STAR RATING */
#best-selling-product .star-ratings .star-container svg {
    width: 25px !important;
    height: 25px !important;
}
#best-selling-product .star-ratings .star-container {
    padding: 0 4px !important;
}

/* SLICK SLIDER  */
#best-selling .slick-slide {
    height: inherit;
}

#best-selling .slick-track {
    display: flex;
}

#best-selling .slick-list .slick-slide > div {
    margin: 0 15px;
    height: 100%;
}

@media all and (max-width: 480px) {
    /* BEST DEAL SECTION => STAR RATING */
    #best-selling-product .star-ratings .star-container svg {
        width: 18px !important;
        height: 18px !important;
    }
    #best-selling-product .star-ratings .star-container {
        padding: 0 2px !important;
    }
}

.text-yellow {
    color: yellow;
}
