@tailwind base;
@tailwind components;
@tailwind utilities;

/* AUTH STYLES */
.btn-primary {
    @apply btn btn-block bg-primary text-white outline-none;
}

.btn-primary:disabled {
    @apply pointer-events-auto cursor-not-allowed;
}

.auth-input {
    @apply input input-bordered input-primary w-full rounded-sm focus:outline-none focus:border-2;
}

.auth-heading {
    @apply text-light-black sm:text-3xl text-2xl text-center text-purple-800;
}

.error-message {
    @apply text-xs text-red absolute z-10 left-0 -bottom-4;
}

.wrapper {
    @apply sm:mx-auto sm:max-w-[1440px] sm:w-[90%] w-[90%];
}

.home {
    @apply sm:h-[calc(100%-142px)];
}

@layer base {
    body {
        font-family: "Lato", sans-serif;
    }
}

html,
body,
.app,
#root {
    height: 100%;
}

* {
    font-weight: 400;
}

section {
    width: 100%;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

a,
button {
    cursor: pointer;
}

.active-nav-link {
    color: blue !important;
}
